<div id="mainContent">
  <h2>Headless RasPi: WiFI Setup</h2>
  <div class="wifiIcon" /></div>
  <%=form_tag("/main/save_credentials", method: "get") do%>

    <ul>
      <li><%=label_tag(:ssid, "Por favor, selecione a Rede WiFi:")%></li>
      <li class="wifiNetwork">
        <select id="ssid" name="ap_info", class="wifiNetworkInputs">
          <%for ap in @wifi_ap_hash do%>
              <option value='<%=ap[:ssid]%>+<%=ap[:encryption_type]%>'><%=ap[:ssid]%></option>
          <%end%>
        </select>
      </li>

      <li><%=label_tag(:wifi_key, "Por favor, digite a senha do WiFi:")%></li>
      <li>
        <%=password_field_tag(:wifi_key, nil, class: "wifiNetworkInputs")%>
      </li>

      <%=submit_tag("Conectar!", class: "wifiConnectButton")%>
    </ul>
	<br>
	<br>

  <%end%>
